*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  /* stylelint-disable value-list-comma-newline-after */
  --font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* stylelint-enable */
  --outline-color: #cacaca;
  --outline-style: 1px 1px 0.2rem var(--outline-color),
    -1px -1px 0.2rem var(--outline-color);
  --border-color: #888;
  --page-bg-color: white;
  --alt-color: rgb(255, 236, 80);
  --shadow-color: #ccc;
  --card-border: #e5e5e5;

  /* Heading */
  --heading-text-color: #999;
  --heading-text-highlight-color: #ddd;

  /* Primary */
  --primary-color: #419bf9;
  --primary-highlight-color: #338be4;
  --primary-border-color: #2586e0;
  --primary-bg-color: var(--primary-color);
  --primary-bg-muted-color: #70b1f1;
  --primary-fg-color: white;
  --primary-fg-highlight-color: #ddd;
  --primary-fg-muted-color: #bbb;

  /* Warning */
  --warning-color: rgb(255, 236, 80);
  --warning-highlight-color: rgb(255, 206, 65);
  --warning-border-color: rgb(148, 110, 6);
  --warning-bg-color: var(--warning-color);
  --warning-bg-muted-color: rgb(167, 99, 4);
  --warning-fg-color: #777;
  --warning-fg-highlight-color: #333;
  --warning-fg-muted-color: #888;

  /* Success */
  --success-color: rgb(76, 175, 80);
  --success-highlight-color: rgb(42, 134, 45);
  --success-border-color: rgb(42, 134, 45);
  --success-bg-color: var(--success-color);
  --success-bg-muted-color: rgb(24, 87, 25);
  --success-fg-color: white;
  --success-fg-highlight-color: #eee;
  --success-fg-muted-color: #888;

  /* Danger */
  --danger-color: rgb(255, 95, 95);
  --danger-highlight-color: rgb(212, 62, 28);
  --danger-bg-color: var(--danger-color);
  --danger-border-color: rgb(212, 62, 28);
  --danger-bg-muted-color: rgb(255, 79, 37);
  --danger-fg-color: white;
  --danger-fg-highlight-color: #eee;
  --danger-fg-muted-color: #aaa;

  /* secondary */
  --secondary-color: #777;
  --secondary-highlight-color: #888;
  --secondary-bg-color: var(--secondary-color);
  --secondary-border-color: #666;
  --secondary-bg-muted-color: rgb(102, 102, 102);
  --secondary-fg-color: white;
  --secondary-fg-highlight-color: #ccc;
  --secondary-fg-muted-color: #ccc;

  /* Transparent */
  --transparent-color: #f9f9f9;
  --transparent-highlight-color: #ddd;
  --transparent-border-color: black;
  --transparent-bg-color: var(--transparent-color);
  --transparent-bg-muted-color: #aaa;
  --transparent-fg-color: black;
  --transparent-fg-highlight-color: #333;
  --transparent-fg-muted-color: #888;

  box-sizing: border-box;

  --overunder-over-text-color: var(--outline-color);
  --overunder-divider-color: grey;
  --overunder-under-text-color: var(--success-text-color);
}

.Theme-primary {
  --text-color: var(--primary-bg-color);
  --bg-color: var(--primary-bg-color);
  --button-bg-color: var(--primary-bg-color);
  --button-border-color: var(--primary-border-color);
  --button-text-color: var(--primary-fg-color);
  --button-bg-hover-color: var(--primary-bg-color);
  --button-bg-active-color: var(--primary-highlight-color);
  --button-bg-disabled-color: var(--primary-highlight-color);
  --button-text-muted-color: var(--primary-fg-muted-color);
  --button-text-disabled-color: var(--primary-fg-muted-color);
  --input-text-color: var(--primary-fg-color);
  --input-hover-color: var(--primary-bg-color);
  --input-bg-color: var(--primary-bg-color);
  --input-border-color: var(--primary-border-color);
  --input-placeholder-color: var(--primary-fg-muted-color);
  --checkbox-checked-fg-color: var(--primary-fg-color);
  --checkbox-checked-bg-color: var(--primary-fg-muted-color);
  --table-highlight-color: var(--primary-color);
  --table-hover-border-color: var(--primary-color);
  --icon-color: var(--primary-fg-color);
  --dropdown-text-color: var(--primary-fg-color);
  --dropdown-link-color: var(--primary-fg-color);
  --dropdown-active-color: var(--primary-fg-highlight-color);
  --dropdown-disabled-color: var(--primary-fg-muted-color);
  --dropdown-bg-color: var(--primary-bg-color);
  --dropdown-border-color: var(--primary-border-color);
  --header-fg-color: var(--primary-fg-color);
  --header-bg-color: var(--primary-highlight-color);
  --tabitem-text-color: #aaa;
  --tabitem-text-highlight-color: var(--primary-color);
  --tabitem-bg-color: var(--primary-bg-color);
  --tabitem-border-color: var(--primary-border-color);
  --tabitem-highlight-color: var(--primary-highlight-color);
  --alert-bg-color: var(--primary-bg-color);
  --alert-text-color: var(--primary-fg-color);
  --label-bg-color: var(--primary-bg-color);
  --label-text-color: var(--primary-fg-color);
  --tooltip-bg-color: var(--primary-bg-color);
  --tooltip-text-color: var(--primary-fg-color);
}

.Theme-warning {
  --text-color: var(--warning-bg-color);
  --bg-color: var(--warning-bg-color);
  --button-bg-color: var(--warning-bg-color);
  --button-border-color: var(--warning-border-color);
  --button-text-color: var(--warning-fg-color);
  --button-bg-hover-color: var(--warning-bg-color);
  --button-bg-active-color: var(--warning-highlight-color);
  --button-bg-disabled-color: var(--warning-highlight-color);
  --button-text-muted-color: var(--warning-fg-muted-color);
  --button-text-disabled-color: var(--warning-fg-muted-color);
  --input-text-color: var(--warning-fg-color);
  --input-hover-color: var(--warning-bg-color);
  --input-bg-color: var(--warning-bg-color);
  --input-border-color: var(--warning-border-color);
  --input-placeholder-color: var(--warning-fg-muted-color);
  --checkbox-checked-fg-color: var(--warning-fg-color);
  --checkbox-checked-bg-color: var(--warning-fg-muted-color);
  --table-highlight-color: var(--warning-color);
  --table-hover-border-color: var(--warning-color);
  --icon-color: var(--warning-fg-color);
  --dropdown-text-color: var(--warning-fg-color);
  --dropdown-link-color: var(--warning-forground-color);
  --dropdown-active-color: var(--warning-text-highlight-color);
  --dropdown-disabled-color: var(--warning-fg-muted-color);
  --dropdown-bg-color: var(--warning-bg-color);
  --dropdown-border-color: var(--warning-border-color);
  --tabitem-text-color: var(--warning-fg-color);
  --tabitem-text-highlight-color: var(--warning-highlight-color);
  --tabitem-bg-color: var(--warning-bg-color);
  --tabitem-border-color: var(--warning-border-color);
  --tabitem-highlight-color: var(--warning-color);
  --header-fg-color: var(--warning-fg-color);
  --header-bg-color: var(--warning-highlight-color);
  --alert-bg-color: var(--warning-bg-color);
  --alert-text-color: var(--warning-fg-color);
  --label-bg-color: var(--warning-bg-color);
  --label-text-color: var(--warning-fg-color);
  --tooltip-bg-color: var(--warning-bg-color);
  --tooltip-text-color: var(--warning-fg-color);
}

.Theme-success {
  --text-color: var(--success-bg-color);
  --bg-color: var(--success-bg-color);
  --button-bg-color: var(--success-bg-color);
  --button-border-color: var(--success-border-color);
  --button-text-color: var(--success-fg-color);
  --button-bg-hover-color: var(--success-bg-color);
  --button-bg-active-color: var(--success-highlight-color);
  --button-bg-disabled-color: var(--success-highlight-color);
  --button-text-muted-color: var(--success-fg-muted-color);
  --button-text-disabled-color: var(--success-fg-muted-color);
  --input-text-color: var(--success-fg-color);
  --input-hover-color: var(--success-bg-color);
  --input-bg-color: var(--success-bg-color);
  --input-border-color: var(--success-border-color);
  --input-placeholder-color: var(--success-fg-muted-color);
  --checkbox-checked-fg-color: var(--success-fg-color);
  --checkbox-checked-bg-color: var(--success-fg-muted-color);
  --table-highlight-color: var(--success-color);
  --table-hover-border-color: var(--success-color);
  --icon-color: var(--success-fg-color);
  --dropdown-text-color: var(--success-fg-color);
  --dropdown-link-color: var(--success-forground-color);
  --dropdown-active-color: var(--success-text-highlight-color);
  --dropdown-disabled-color: var(--success-fg-muted-color);
  --dropdown-bg-color: var(--success-bg-color);
  --dropdown-border-color: var(--success-border-color);
  --tabitem-text-color: #aaa;
  --tabitem-text-highlight-color: var(--success-color);
  --tabitem-bg-color: var(--success-bg-color);
  --tabitem-border-color: var(--success-border-color);
  --tabitem-highlight-color: var(--success-highlight-color);
  --header-fg-color: var(--success-fg-color);
  --header-bg-color: var(--success-highlight-color);
  --alert-bg-color: var(--success-bg-color);
  --alert-text-color: var(--success-fg-color);
  --label-bg-color: var(--success-bg-color);
  --label-text-color: var(--success-fg-color);
  --tooltip-bg-color: var(--success-bg-color);
  --tooltip-text-color: var(--success-fg-color);
}

.Theme-danger {
  --text-color: var(--danger-bg-color);
  --bg-color: var(--danger-bg-color);
  --button-bg-color: var(--danger-bg-color);
  --button-border-color: var(--danger-border-color);
  --button-text-color: var(--danger-fg-color);
  --button-bg-hover-color: var(--danger-bg-color);
  --button-bg-active-color: var(--danger-highlight-color);
  --button-bg-disabled-color: var(--danger-highlight-color);
  --button-text-muted-color: var(--danger-fg-muted-color);
  --button-text-disabled-color: var(--danger-fg-muted-color);
  --input-text-color: var(--danger-fg-color);
  --input-hover-color: var(--danger-bg-color);
  --input-bg-color: var(--danger-bg-color);
  --input-border-color: var(--danger-border-color);
  --input-placeholder-color: var(--danger-fg-muted-color);
  --checkbox-checked-fg-color: var(--danger-fg-color);
  --checkbox-checked-bg-color: var(--danger-fg-muted-color);
  --table-highlight-color: var(--danger-color);
  --table-hover-border-color: var(--danger-color);
  --icon-color: var(--danger-fg-color);
  --dropdown-text-color: var(--danger-fg-color);
  --dropdown-link-color: var(--danger-forground-color);
  --dropdown-active-color: var(--danger-text-highlight-color);
  --dropdown-disabled-color: var(--danger-fg-muted-color);
  --dropdown-bg-color: var(--danger-bg-color);
  --dropdown-border-color: var(--danger-border-color);
  --tabitem-text-color: #aaa;
  --tabitem-text-highlight-color: var(--danger-color);
  --tabitem-bg-color: var(--danger-bg-color);
  --tabitem-border-color: var(--danger-border-color);
  --tabitem-highlight-color: var(--danger-highlight-color);
  --header-fg-color: var(--danger-fg-color);
  --header-bg-color: var(--danger-highlight-color);
  --alert-bg-color: var(--danger-bg-color);
  --alert-text-color: var(--danger-fg-color);
  --label-bg-color: var(--danger-bg-color);
  --label-text-color: var(--danger-fg-color);
  --tooltip-bg-color: var(--danger-bg-color);
  --tooltip-text-color: var(--danger-fg-color);
}

.Theme-secondary {
  --text-color: var(--secondary-bg-color);
  --bg-color: var(--secondary-bg-color);
  --button-bg-color: var(--secondary-bg-color);
  --button-border-color: var(--secondary-border-color);
  --button-text-color: var(--secondary-fg-color);
  --button-bg-hover-color: var(--secondary-bg-color);
  --button-bg-active-color: var(--secondary-highlight-color);
  --button-bg-disabled-color: var(--secondary-highlight-color);
  --button-text-muted-color: var(--secondary-fg-muted-color);
  --button-text-disabled-color: var(--secondary-fg-muted-color);
  --input-text-color: var(--secondary-fg-color);
  --input-bg-color: var(--secondary-bg-color);
  --input-hover-color: var(--secondary-bg-color);
  --input-border-color: var(--secondary-border-color);
  --input-placeholder-color: var(--secondary-fg-muted-color);
  --checkbox-checked-fg-color: var(--secondary-fg-color);
  --checkbox-checked-bg-color: var(--secondary-fg-muted-color);
  --table-highlight-color: var(--secondary-color);
  --table-hover-border-color: var(--secondary-color);
  --icon-color: var(--secondary-color);
  --dropdown-text-color: var(--secondary-fg-color);
  --dropdown-link-color: var(--secondary-forground-color);
  --dropdown-active-color: var(--secondary-highlight-color);
  --dropdown-disabled-color: var(--secondary-fg-muted-color);
  --dropdown-bg-color: var(--secondary-bg-color);
  --dropdown-border-color: var(--secondary-border-color);
  --tabitem-fg-color: var(--secondary-fg-color);
  --tabitem-text-highlight-color: var(--secondary-color);
  --tabitem-bg-color: var(--secondary-bg-color);
  --tabitem-border-color: var(--secondary-border-color);
  --tabitem-highlight-color: var(--secondary-fg-highlight-color);
  --header-fg-color: var(--secondary-fg-color);
  --header-bg-color: var(--secondary-highlight-color);
  --tabitem-fg-color: var(--secondary-fg-color);
  --tabitem-text-highlight-color: var(--secondary-fg-highlight-color);
  --tabitem-bg-color: var(--secondary-bg-color);
  --tabitem-border-color: var(--secondary-border-color);
  --tabitem-highlight-color: var(--secondary-fg-highlight-color);
  --alert-bg-color: var(--secondary-bg-color);
  --alert-text-color: var(--secondary-fg-color);
  --label-bg-color: var(--secondary-bg-color);
  --label-text-color: var(--secondary-fg-color);
  --tooltip-bg-color: var(--secondary-bg-color);
  --tooltip-text-color: var(--secondary-fg-color);
}

.Theme-transparent {
  --text-color: var(--transparent-bg-color);
  --bg-color: var(--transparent-bg-color);
  --button-bg-color: var(--transparent-bg-color);
  --button-border-color: var(--transparent-border-color);
  --button-text-color: var(--transparent-fg-color);
  --button-bg-hover-color: var(--transparent-bg-color);
  --button-bg-active-color: var(--transparent-highlight-color);
  --button-bg-disabled-color: var(--transparent-highlight-color);
  --button-text-muted-color: var(--transparent-fg-muted-color);
  --button-text-disabled-color: var(--transparent-fg-muted-color);
  --input-text-color: var(--transparent-fg-color);
  --input-bg-color: var(--transparent-bg-color);
  --input-hover-color: var(--transparent-highlight-color);
  --input-border-color: var(--transparent-border-color);
  --input-placeholder-color: var(--transparent-fg-muted-color);
  --checkbox-checked-fg-color: var(--transparent-fg-color);
  --checkbox-checked-bg-color: var(--transparent-fg-muted-color);
  --table-highlight-color: var(--transparent-color);
  --table-hover-border-color: var(--transparent-color);
  --icon-color: var(--transparent-fg-color);
  --dropdown-text-color: var(--transparent-fg-color);
  --dropdown-link-color: var(--transparent-forground-color);
  --dropdown-active-color: var(--transparent-highlight-color);
  --dropdown-disabled-color: var(--transparent-fg-muted-color);
  --dropdown-bg-color: var(--transparent-bg-color);
  --dropdown-border-color: var(--transparent-border-color);
  --tabitem-fg-color: var(--transparent-fg-color);
  --tabitem-text-highlight-color: var(--transparent-fg-highlight-color);
  --tabitem-bg-color: var(--transparent-bg-color);
  --tabitem-border-color: var(--transparent-border-color);
  --tabitem-highlight-color: var(--transparent-fg-highlight-color);
  --header-fg-color: var(--transparent-fg-color);
  --header-bg-color: var(--transparent-highlight-color);
  --tabitem-fg-color: var(--transparent-fg-color);
  --tabitem-text-highlight-color: var(--transparent-color);
  --tabitem-bg-color: var(--transparent-bg-color);
  --tabitem-border-color: var(--transparent-border-color);
  --tabitem-highlight-color: var(--transparent-fg-highlight-color);
  --alert-bg-color: var(--transparent-bg-color);
  --alert-text-color: var(--transparent-fg-color);
  --label-bg-color: var(--transparent-bg-color);
  --label-text-color: var(--transparent-fg-color);
  --tooltip-bg-color: var(--transparent-bg-color);
  --tooltip-text-color: var(--transparent-fg-color);
}

body {
  margin: 0;
  padding: 0;
  color: #777;
  background: white;
  font-size: 16px;
  font-family: var(--font-family);
}

a {
  color: #ccc;
}
